@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
  margin: 0;
  padding: 0;
  background: #EDE8E3;
  overflow: hidden;
 
}

*{
  font-family: 'Roboto', sans-serif;
}

.main-div{
  animation: fadeIn;
  animation-duration: 1s;
}








.value {
  font-size: 24px;
}

.quiz-heading{
  font-size: 16px;
}